/*--------- CSS Reset ------*/

*{
    padding:0;
    margin:0;
    font-size:100%;
    line-height: 1em;
}

/*------- HEADING STYLE -----*/

body {
    width: 70%;
        max-width: 670px;
       margin: auto;
    background: #fafafa;
    color: black;
    
    
   
    
    
    }

/*------ TYPOGRAPHY -------*/

h1, h2, h3 
{font-weight: normal;
color: #8F0040;
    
    text-align: center;
}

p,cite{font-family: 'Libre Baskerville', serif;}
p, blackquote {
    margin-bottom: 1.5em;
    line-height: 1.4;
}

h1 {font-size: 2.827em;
    margin-top: 2em;
    margin-bottom: 0.1em;}

h2 {font-size: 1.999em;
    margin: 1em 0 1em 0;}

h3 {font-size: 1.414em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-family: 'Libre Baskerville', serif;}

h4 {font-size: 1.414em
    margin-top: 2em;
margin-bottom: 1.5em;
font-family: 'Libre Baskerville', serif;}

blockquote{
    font-size: 1.5em;
    hanging-punctuation: first;
    text-indent: -0.45;
}

cite{
    font-size: 1em;
}


/*----STYLING LINKS----*/

a{
    
    color: white;
    text-decoration: none;

}

a:hover{
    color: crimson;
    border-bottom: 1px dotted;
}


/*-----NAVIGATION----*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: brown;
    padding: 1em 0;
    font-size: 0.75em;
    
    
}


nav ul {
    
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    
}

nav ul li {
    
    display: inline;
    margin: 20px;
    
}

nav a:link {
    
    color: white;
    
}

nav a:visited {
    
    color: white;
}

nav a:hover {
    
    border-bottom: none;
    color: red;
    
}



/*------FOOTER-------*/
footer{
    text-align: center;
    font-size: 0.707em;
    padding: 2em 0 2em 0;
    
}